html,
body,
#mapid {
    height: 97%;
    width: 100%;
}

h1 {
    padding-left: 20px;
    margin: 0;
    border: 0;
}

#countryList {
    font-size: 1.5vw;
    padding: 2px;
}

form {
    padding: 10px;
}


/*loader*/

.loader {
    border: 16px solid #003098;
    border-top: 16px solid green;
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}