html,
body,
#mapid {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1 {
    margin: 0;
    border: 0;
}

#countryList {
    font-size: 1.5vw;
    padding: 2px;
    display: inline;
    position: relative;
    left: 10%;
    top: 2%;
    z-index: 2000;
    background-color: #daebe8;
    border: none;
    font-family: 'Oswald', sans-serif;
    width: 20%;
    border-radius: 35px;
    padding-left: 30px;
}

#myModal {
    display: none;
    position: absolute;
    left: 35%;
    top: 10%;
    z-index: 999;
    border-collapse: collapse;
    width: 30%;
    font-family: 'Oswald', sans-serif;
    border: 1px solid rgb(104, 104, 104);
}

#myModal2 {
    display: none;
    position: absolute;
    left: 40%;
    top: 10%;
    z-index: 999;
    border-collapse: collapse;
    width: 20%;
    font-family: 'Oswald', sans-serif;
    border: 1px solid rgb(104, 104, 104);
}

#myModal3 {
    display: none;
    position: absolute;
    left: 35%;
    top: 10%;
    z-index: 999;
    border-collapse: collapse;
    width: 30%;
    font-family: 'Oswald', sans-serif;
    border: 1px solid rgb(104, 104, 104);
}

#myModal4 {
    display: none;
    position: absolute;
    overflow: auto;
    left: 30%;
    z-index: 1100;
    top: 10%;
    border-collapse: collapse;
    width: 400px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid rgb(104, 104, 104);
}

#modal-title2,
#city {
    background-color: #cfe0e8;
}

#temp,
#weatherimg {
    background-color: #daebe8;
}

td {
    text-align: center;
    font-size: 1.5vw;
    padding: 10px;
}

th {
    text-align: center;
    font-size: 2vw;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #cfe0e8;
    text-transform: capitalize;
}

tr:nth-child(even) {
    background-color: #daebe8;
    text-transform: capitalize;
}


/*loader*/

.loader {
    border: 16px solid #003098;
    border-top: 16px solid green;
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: relative;
    top: 40%;
    left: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*Buttons*/

:root {
    --bg: #dcdde1;
    --color-icon: #3a485c;
    --social-icon1: #e4405f !important;
    --social-icon2: #3b5999;
    --social-icon3: #28742c;
    --social-icon4: #cd201f;
    --social-icon5: #0077B5;
}

.icon-list {
    width: 10%;
    max-width: 50rem;
    padding: 0 1.5rem;
    position: absolute;
    top: 25%;
    left: -20px;
}

.icon-item {
    list-style: none
}

.icon-link {
    display: inline-flex;
    font-size: 3rem;
    text-decoration: none;
    color: var(--color-icon);
    width: 6rem;
    height: 6rem;
    transition: .5s linear;
    position: relative;
    z-index: 2000;
    margin: auto
}

.icon-link:hover {
    color: #fff;
}

.icon-link i {
    margin: auto;
}

.icon-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 6rem;
    height: 6rem;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}

.icon-link:hover::before {
    transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
    background: var(--social-icon1);
}

.icon-item:nth-child(2) a:hover:before {
    background: var(--social-icon2);
}

.icon-item:nth-child(3) a:hover:before {
    background: var(--social-icon3);
}

.icon-item:nth-child(4) a:hover:before {
    background: var(--social-icon4);
}

.icon-item:nth-child(5) a:hover:before {
    background: var(--social-icon5);
}

@media only screen and (max-width: 800px) {
    #countryList {
        font-size: 3.5vw;
        padding: 2px;
        display: inline;
        position: relative;
        left: 37%;
        top: 2%;
        z-index: 2000;
        background-color: #daebe8;
        border: none;
        font-family: 'Oswald', sans-serif;
        width: 40%;
        height: 10%;
        border-radius: 35px;
        padding-left: 30px;
    }
    #myModal,
    #myModal2,
    #myModal3,
    #myModal4 {
        width: 50%;
    }
    span {
        font-size: 100%;
        position: relative;
        left: 12%;
    }
}